<form class="container" [formGroup]="form">
  <div class="row">
    <div class="col-md-7 form-group">

      <div class="row">
        <div class="col-md-12 form-group">
          <h3>CPF Component</h3>
          <p>Text input with a CPF mask.</p>
        </div>
      </div>
      <div class="row example-box">
        <div class="col-md-6 form-group">
          <label>EXAMPLE</label>
          <br-cpf-container [control]="form.get('cpf')">
            <br-cpf formControlName="cpf" [(ngModel)]="model.cpf"></br-cpf>
          </br-cpf-container>
        </div>
        <div class="col-md-6">
          <label>DISABLED</label>
          <br-cpf formControlName="cpfDisabled" [(ngModel)]="model.cpfDisabled"></br-cpf>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <h3>CNPJ Component</h3>
          <p>Text input with a CNPJ mask.</p>
        </div>
      </div>
      <div class="row example-box">
        <div class="col-md-6 form-group">
          <label>EXAMPLE</label>
          <br-cnpj-container [control]="form.get('cnpj')">
            <br-cnpj [(ngModel)]="model.cnpj" formControlName="cnpj"></br-cnpj>
          </br-cnpj-container>
        </div>
        <div class="col-md-6">
          <label>DISABLED</label>
          <br-cnpj [(ngModel)]="model.cnpjDisabled" formControlName="cnpjDisabled"></br-cnpj>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <h3>CPF/CNPJ Component</h3>
          <p>Text input with a CNPJ mask.</p>
        </div>
      </div>
      <div class="row example-box">
        <div class="col-md-6 form-group">
          <label>EXAMPLE</label>
          <br-cpf-cnpj-container [control]="form.get('cnpj')">
            <br-cpf-cnpj [(ngModel)]="model.cnpj" formControlName="cnpj"></br-cpf-cnpj>
          </br-cpf-cnpj-container>
          <p>{{model.cnpj}}</p>
        </div>
        <div class="col-md-6">
          <label>DISABLED</label>
          <br-cpf-cnpj [(ngModel)]="model.cnpjDisabled" formControlName="cnpjDisabled"></br-cpf-cnpj>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <h3>TELEFONE Component</h3>
          <p>Text input with a Phone mask.</p>
          <p><strong>Pipe: </strong>{{model.telefone | phone}}</p>
        </div>
      </div>
      <div class="row example-box">
        <div class="col-md-6 form-group">
          <label>EXAMPLE</label>
          <br-phone [(ngModel)]="model.telefone" formControlName="telefone"></br-phone>
        </div>
        <div class="col-md-6">
          <label>DISABLED</label>
          <br-phone [disabled]="true"></br-phone>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <h3>CEP Component</h3>
          <p>Text input with a Cep mask.</p>
          <p><strong>Pipe: </strong>{{model.cep | cep}}</p>
        </div>
      </div>
      <div class="row example-box">
        <div class="col-md-6 form-group">
          <label>EXAMPLE</label>
          <br-cep [(ngModel)]="model.cep" formControlName="cep"></br-cep>
        </div>
        <div class="col-md-6">
          <label>DISABLED</label>
          <br-cep [disabled]="true"></br-cep>
        </div>
      </div>
    </div>

  </div>

</form>
